/*
Theme Name: bizlight-child
Version: 1.0
Description: A child theme of Bizlight
Template: bizlight
Author: Marcus Silva
*/
@import url("../bizlight/style.css");
/* Your awesome customization starts here */
.evision-slider-caption .main-title {
  color: #000000!important;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}
